apps/Standalone/src/templates/__mocks__/SendMonthlyCost/template.json
{
    "id": "send-monthly-cost",
    "description": "Sends the cost of the resource every month.",
    "title": "Send monthly cost for resource",
    "iconType": "ScheduledTask",
    "skuType": "Consumption",
    "data": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "Compose": {
                    "inputs": "@body('Filter_array')",
                    "runAfter": {
                        "Filter_array": [
                            "Succeeded"
                        ]
                    },
                    "type": "Compose"
                },
                "Filter_array": {
                    "inputs": {
                        "from": "@body('Invoke_resource_operation_in_provider')?['properties']?['rows']",
                        "where": "@equals(item()[3], toLower(parameters('ResourceId')))"
                    },
                    "runAfter": {
                        "Invoke_resource_operation_in_provider": [
                            "Succeeded"
                        ]
                    },
                    "type": "Query"
                },
                "Invoke_resource_operation_in_provider": {
                    "inputs": {
                        "body": {
                            "dataSet": {
                                "aggregation": {
                                    "totalCost": {
                                        "function": "Sum",
                                        "name": "PreTaxCost"
                                    },
                                    "totalCostUSD": {
                                        "function": "Sum",
                                        "name": "PreTaxCostUSD"
                                    }
                                },
                                "granularity": "None",
                                "grouping": [
                                    {
                                        "name": "ResourceGroupName",
                                        "type": "Dimension"
                                    },
                                    {
                                        "name": "ResourceId",
                                        "type": "Dimension"
                                    },
                                    {
                                        "name": "ChargeType",
                                        "type": "Dimension"
                                    },
                                    {
                                        "name": "PublisherType",
                                        "type": "Dimension"
                                    }
                                ]
                            },
                            "timePeriod": {
                                "from": "@{addToTime(utcNow(), -1, 'Month')}",
                                "to": "@{utcNow()}"
                            },
                            "timeframe": "Custom",
                            "type": "ActualCost"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['arm']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/subscriptions/@{encodeURIComponent(parameters('SubscriptionId'))}/providers/@{encodeURIComponent('Microsoft.CostManagement')}/@{encodeURIComponent('query')}",
                        "queries": {
                            "x-ms-api-version": "2019-11-01"
                        }
                    },
                    "runAfter": {},
                    "type": "ApiConnection"
                },
                "Send_an_email_(V2)": {
                    "inputs": {
                        "body": {
                            "Body": "<p>The monthly cost for resource<strong> </strong><strong>@{first(body('Filter_array'))[3]}</strong><strong> </strong>is<strong>&nbsp;<br>\n</strong><strong>@{first(body('Filter_array'))[0]}</strong><strong> </strong><strong>@{first(body('Filter_array'))[6]}</strong><strong></strong>.</p>",
                            "Subject": "Monthly cost for resource",
                            "To": "@parameters('EmailId')"
                        },
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['office365']['connectionId']"
                            }
                        },
                        "method": "post",
                        "path": "/v2/Mail"
                    },
                    "runAfter": {
                        "Compose": [
                            "Succeeded"
                        ]
                    },
                    "type": "ApiConnection"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "Recurrence": {
                    "recurrence": {
                        "frequency": "Month",
                        "interval": 1
                    },
                    "type": "Recurrence"
                }
            }
        },
        "connections": {
            "arm": {
                "connectionId": "",
                "connectionName": "",
                "id": "/subscriptions/00/providers/Microsoft.Web/locations/westus2/managedApis/arm"
            },
            "office365": {
                "connectionId": "",
                "connectionName": "",
                "id": "/subscriptions/00/providers/Microsoft.Web/locations/westus2/managedApis/office365"
            }
        },
        "parameters": {
            "EmailId": {
                "type": "String",
                "metadata": {
                    "required": true,
                    "displayName": "Email sent to",
                    "placeholder": "Enter the email address to send email."
                }
            },
            "ResourceId": {
                "type": "String",
                "metadata": {
                    "isLinkedResource": true,
                    "sourceParameter": "id"
                }
            },
            "SubscriptionId": {
                "type": "String",
                "metadata": {
                    "isLinkedResource": true,
                    "sourceParameter": "subscriptionId"
                }
            }
        }
    },
    "excludeResources": ["Microsoft.Resources/resourceGroups"]
}
