apps/Standalone/src/templates/__mocks__/DeleteOldBlob/template.json
{
    "id": "delete-blob",
    "description": "Deletes a blob of a certain age",
    "title": "Delete old blobs",
    "iconType": "ScheduledTask",
    "skuType": "Consumption",
    "data": {
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "actions": {
                "For_each": {
                    "actions": {
                        "Condition": {
                            "actions": {
                                "Delete_blob": {
                                    "description": "If blob is older than the expiration age, delete it",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                                            }
                                        },
                                        "method": "delete",
                                        "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(items('For_each')?['Id']))}"
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                }
                            },
                            "description": "Check LastModified timestamp and whether older than the expiration age variable",
                            "expression": "@less(ticks(items('For_each')?['LastModified']), ticks(addDays(utcnow(), if(equals(parameters('Time'),'Days'), variables('ExpirationAgeInDays'), if(equals(parameters('Time'), 'Weeks'), mul(variables('ExpirationAgeInDays'), 7), if(equals(parameters('Time'),'Months'), mul(variables('ExpirationAgeInDays'), 30), variables('ExpirationAgeInDays')))))))",
                            "runAfter": {},
                            "type": "If"
                        }
                    },
                    "description": "Scan all blobs in this folder",
                    "foreach": "@body('List_blobs')?['value']",
                    "runAfter": {
                        "List_blobs": [
                            "Succeeded"
                        ]
                    },
                    "type": "Foreach"
                },
                "List_blobs": {
                    "inputs": {
                        "host": {
                            "connection": {
                                "name": "@parameters('$connections')['azureblob']['connectionId']"
                            }
                        },
                        "method": "get",
                        "path": "/datasets/default/foldersV2/@{encodeURIComponent(encodeURIComponent(parameters('BlobFolder')))}",
                        "queries": {
                            "useFlatListing": true
                        }
                    },
                    "runAfter": {
                        "Set_expiration_age_variable_": [
                            "Succeeded"
                        ]
                    },
                    "runtimeConfiguration": {
                        "paginationPolicy": {
                            "minimumItemCount": 5000
                        }
                    },
                    "type": "ApiConnection"
                },
                "Set_expiration_age_variable_": {
                    "description": "A variable to configure the auto expiration age in days. Default is 30 (30 days old).",
                    "inputs": {
                        "variables": [
                            {
                                "name": "ExpirationAgeInDays",
                                "type": "integer",
                                "value": "@if(greater(parameters('ExpirationAge'), 0), mul(parameters('ExpirationAge'), -1), parameters('ExpirationAge'))"
                            }
                        ]
                    },
                    "runAfter": {},
                    "type": "InitializeVariable"
                }
            },
            "contentVersion": "1.0.0.0",
            "outputs": {},
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                }
            },
            "triggers": {
                "Recurrence": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1
                    },
                    "type": "Recurrence"
                }
            }
        },
        "connections": {
            "azureblob": {
                "connectionId": "",
                "connectionName": "",
                "id": "/subscriptions/00/providers/Microsoft.Web/locations/westus/managedApis/azureblob"
            }
        },
        "parameters": {
            "BlobFolder": {
                "type": "String",
                "metadata": {
                    "displayName": "Blob container name",
                    "isLinkedResource": false,
                    "placeholder": "",
                    "required": true
                }
            },
            "ExpirationAge": {
                "type": "Int",
                "metadata": {
                    "displayName": "Expiration age",
                    "isLinkedResource": false,
                    "required": true,
                    "description": "Blobs older than this age will be deleted"
                }
            },
            "Time": {
                "type": "String",
                "defaultValue": "Days",
                "allowedValues": [
                    "Days",
                    "Weeks",
                    "Months"
                ],
                "metadata": {
                    "allowedValues": [
                        "Days",
                        "Weeks",
                        "Months"
                    ],
                    "displayName": "Time Unit",
                    "placeholder": "Days",
                    "isLinkedResource": false,
                    "required": true
                }
            }
        }
    },
    "supportedResources": ["microsoft.storage/storageaccounts"]
}
