apps/vs-code-designer/src/app/utils/codeful/__mocks__/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Response": {
        "type": "Response",
        "inputs": {
          "statusCode": 200,
          "body": "@result('For_each')"
        },
        "runAfter": {
          "Get_current_weather": ["SUCCEEDED"]
        }
      },
      "For_each": {
        "type": "Foreach",
        "foreach": "@variables('arr')",
        "actions": {
          "HTTP": {
            "type": "Compose",
            "inputs": {
              "method": "GET",
              "uri": "https://ganla.azurewebsites.net/"
            }
          }
        },
        "runAfter": {
          "Initialize_variable": ["Succeeded"]
        }
      },
      "Initialize_variable": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "arr",
              "type": "array",
              "value": [1]
            }
          ]
        },
        "runAfter": {}
      },
      "Condition": {
        "type": "If",
        "expression": {
          "or": [
            {
              "equals": ["@triggerBody()", "@triggerBody()"]
            }
          ]
        },
        "actions": {
          "Read_a_resource_group": {
            "type": "ApiConnection",
            "inputs": {
              "host": {
                "connection": {
                  "referenceName": "arm"
                }
              },
              "method": "get",
              "path": "/subscriptions/@{encodeURIComponent('80d4fe69-c95b-4dd2-a938-9250f1c8ab03')}/resourcegroups/@{encodeURIComponent('brazilUSSami')}",
              "queries": {
                "x-ms-api-version": "2016-06-01"
              }
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "For_each": ["Succeeded", "FAILED"]
        }
      },
      "Read_blob_content": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "containerName": "container1",
            "blobName": "blob1"
          },
          "serviceProviderConfiguration": {
            "connectionName": "AzureBlob",
            "operationId": "readBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {
          "Condition": ["SUCCEEDED"]
        }
      },
      "Create_contact_1": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "outlook"
            }
          },
          "method": "post",
          "body": {
            "GivenName": "sami1",
            "HomePhones": ["888-888-888"]
          },
          "path": "/datasets/contacts/tables/@{encodeURIComponent(encodeURIComponent('AQMkADAwATNiZmYAZS04ZjEzLTdhYjgtMDACLTAwCgAuAAADXndE0UjeMkG5Z3JjhxRtnAEA5Rcw536Pcki675DRPpK2HQAAAgEOAAAA'))}/items"
        },
        "runAfter": {
          "Read_blob_content": ["SUCCEEDED"]
        }
      },
      "Send_an_email_(V2)": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "office365"
            }
          },
          "method": "post",
          "body": {
            "To": "samikarakra@microsoft.com",
            "Subject": "test1",
            "Body": "<p class=\"editor-paragraph\">hey hey test 1</p>",
            "Importance": "Normal"
          },
          "path": "/v2/Mail"
        },
        "runAfter": {
          "Create_contact_1": ["SUCCEEDED"]
        }
      },
      "Get_current_weather": {
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "msnweather"
            }
          },
          "method": "get",
          "path": "/current/@{encodeURIComponent('92801')}",
          "queries": {
            "units": "I"
          }
        },
        "runAfter": {
          "Send_an_email_(V2)": ["SUCCEEDED"]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "When_a_HTTP_request_is_received": {
        "type": "Request",
        "kind": "Http"
      }
    }
  },
  "kind": "Stateful"
}
