__mocks__/workflows/Conditionals.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition": {
        "actions": {
          "Terminate": {
            "inputs": {
              "runStatus": "SUCCEEDED"
            },
            "runAfter": {},
            "type": "Terminate"
          },
          "Increment_variable_4": {
            "inputs": {
              "name": "var1",
              "value": 1
            },
            "runAfter": {
              "Terminate": ["Failed"]
            },
            "type": "IncrementVariable"
          }
        },
        "else": {
          "actions": {
            "Terminate_2": {
              "inputs": {
                "runError": {
                  "code": "CreateAndGetGoalFailed",
                  "message": "Created goal does not match expected goal"
                },
                "runStatus": "Failed"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": ["@body('Get_a_goal')['name']", "@variables('goalName')"]
            },
            {
              "equals": ["@body('Get_a_goal')?['owner']", "@variables('goalOwner')"]
            },
            {
              "equals": ["@body('Get_a_goal')?['currentValue']", "@variables('goalValue')"]
            },
            {
              "equals": ["@body('Get_a_goal')?['targetValue']", "@variables('goalTarget')"]
            },
            {
              "equals": ["@body('Get_a_goal')?['status']", "On track"]
            }
          ]
        },
        "runAfter": {},
        "type": "If"
      },
      "Initialize_owner": {
        "inputs": {
          "variables": [
            {
              "name": "goalOwner",
              "type": "string",
              "value": "abc@microsoft.com"
            }
          ]
        },
        "runAfter": {
          "Condition": ["SUCCEEDED"]
        },
        "type": "InitializeVariable"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Day",
          "interval": 1
        },
        "type": "Recurrence"
      }
    }
  },
  "kind": "Stateful"
}
