__mocks__/workflows/Conditionals.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Condition": {
        "actions": {
          "Terminate": {
            "inputs": {
              "runStatus": "SUCCEEDED"
            },
            "runAfter": {},
            "type": "Terminate"
          },
          "Increment_variable_4": {
            "inputs": {
              "name": "var1",
              "value": 1
            },
            "runAfter": {
              "Terminate": ["Failed"]
            },
            "type": "IncrementVariable"
          }
        },
        "else": {
          "actions": {
            "Terminate_2": {
              "inputs": {
                "runError": {
                  "code": "CreateAndGetGoalFailed",
                  "message": "Created goal does not match expected goal"
                },
                "runStatus": "Failed"
              },
              "runAfter": {},
              "type": "Terminate"
            }
          }
        },
        "expression": {
          "and": [
            {
              "equals": ["abc@microsoft.com", "@variables('goalOwner')"]
            },
            {
              "equals": ["test", "@variables('goalOwner')"]
            },
            {
              "isnotequalto": ["test", "@variables('goalOwner')"]
            },
            {
              "or": [
                {
                  "equals": ["test", "@variables('goalOwner')"]
                }
              ]
            }
          ]
        },
        "runAfter": { "Initialize_owner": ["SUCCEEDED"] },
        "type": "If"
      },
      "Initialize_owner": {
        "inputs": {
          "variables": [
            {
              "name": "goalOwner",
              "type": "string",
              "value": "abc@microsoft.com"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "Recurrence": {
        "recurrence": {
          "frequency": "Day",
          "interval": 1
        },
        "type": "Recurrence"
      }
    }
  },
  "kind": "Stateful"
}
