__mocks__/workflows/Panel.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Initialize_ArrayVariable": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ArrayVariable",
              "type": "array",
              "value": [
                {
                  "document": "A",
                  "min": 7500001,
                  "policy": "X"
                },
                {
                  "document": "B",
                  "min": 7500001,
                  "policy": "Y"
                },
                {
                  "document": "C",
                  "min": 7500001,
                  "policy": "Z"
                }
              ]
            }
          ]
        },
        "runAfter": {},
        "isInvokerConnectionEnabled": false
      },
      "Parse_JSON": {
        "type": "ParseJson",
        "inputs": {
          "content": "@triggerBody()?['string']",
          "schema": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "document": {
                  "type": "string"
                },
                "min": {
                  "type": "integer"
                },
                "policy": {
                  "type": "string"
                }
              },
              "required": ["document", "min", "policy"]
            }
          }
        },
        "runAfter": {
          "Initialize_ArrayVariable": ["SUCCEEDED"]
        },
        "isInvokerConnectionEnabled": false
      },
      "Filter_array": {
        "type": "Query",
        "inputs": {
          "from": "@body('Parse_JSON')",
          "where": "@equals(test,@triggerBody()?['string'])"
        },
        "runAfter": {
          "Parse_JSON": ["SUCCEEDED"]
        },
        "isInvokerConnectionEnabled": false
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "isInvokerConnectionEnabled": false,
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "array": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "item1": {
                      "type": "string"
                    }
                  },
                  "required": ["item1"]
                }
              },
              "string": {
                "type": "string"
              },
              "number": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "connectionReferences": {},
  "parameters": {}
}
