__mocks__/workflows/Panel.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "stringvar",
              "type": "string",
              "value": "sdfsdf"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "Initialize_variable_1": {
        "inputs": {
          "variables": [
            {
              "name": "IntegerVar",
              "type": "integer",
              "value": "test@{triggerOutputs()['headers']}@{variables('stringvar')}"
            }
          ]
        },
        "runAfter": {
          "Initialize_variable": ["SUCCEEDED"]
        },
        "type": "InitializeVariable"
      },
      "Parse_JSON": {
        "inputs": {
          "content": "@triggerBody()",
          "schema": {
            "properties": {
              "a": {
                "type": "string"
              },
              "number": {
                "type": "integer"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "Initialize_variable_1": ["SUCCEEDED"]
        },
        "runtimeConfiguration": {
          "secureData": {
            "properties": ["inputs"]
          }
        },
        "type": "ParseJson"
      },
      "For_each": {
        "type": "Foreach",
        "foreach": "@body('Parse_JSON')",
        "actions": {
          "Response": {
            "type": "Response",
            "kind": "Http",
            "inputs": {
              "statusCode": 200
            }
          }
        },
        "runAfter": {
          "Parse_JSON": ["SUCCEEDED"]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "array": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "item1": {
                      "type": "string"
                    }
                  },
                  "required": ["item1"]
                }
              },
              "string": {
                "type": "string"
              },
              "number": {
                "type": "integer"
              }
            }
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}
