__mocks__/workflows/RunAfter.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Compose": {
        "inputs": "a",
        "runAfter": {},
        "type": "Compose"
      },
      "Execute_a_navigation_plan": {
        "inputs": {
          "a": "A"
        },
        "runAfter": {},
        "type": "Compose"
      },
      "Initialize_test_var": {
        "inputs": {
          "variables": [
            {
              "name": "testVar",
              "type": "string",
              "value": "@{body('Create_a_goal')['id']},@{body('Create_a_goal_2')['id']},"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "Response": {
        "type": "Response",
        "kind": "http",
        "inputs": {
          "statusCode": 200,
          "headers": "@triggerBody()",
          "body": "@outputs('Execute_a_navigation_plan')?['outputParameters']?['balance']"
        },
        "runAfter": {
          "Compose": ["Succeeded"],
          "Initialize_test_var": ["Succeeded", "Skipped"],
          "Execute_a_navigation_plan": ["Succeeded", "TimedOut", "Skipped"]
        },
        "operationOptions": "Asynchronous",
        "runtimeConfiguration": {
          "secureData": {
            "properties": ["inputs"]
          }
        },
        "trackedProperties": {
          "dfd": "fdfdf"
        }
      },
      "Terminate_2": {
        "inputs": {
          "runError": {
            "code": "CreateAndGetGoalFailed",
            "message": "Created goal does not match expected goal"
          },
          "runStatus": "Failed"
        },
        "runAfter": {
          "Response": ["Failed"]
        },
        "type": "Terminate"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "Http": {
        "inputs": {
          "body": "d",
          "headers": {
            "d": "d"
          },
          "method": "PUT",
          "uri": "http://uri.com"
        },
        "recurrence": {
          "frequency": "Hour",
          "interval": 3,
          "timeZone": "UTC-11"
        },
        "type": "Http"
      }
    }
  },
  "kind": "Stateful"
}
