__mocks__/workflows/simpleForeach.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "var1",
              "type": "integer"
            }
          ]
        },
        "runAfter": {},
        "trackedProperties": {
          "aa": "aa"
        },
        "type": "InitializeVariable"
      },
      "Response": {
        "inputs": {
          "body": "@variables('var1')",
          "statusCode": 200
        },
        "kind": "http",
        "runAfter": {
          "Foreach": ["SUCCEEDED"]
        },
        "type": "Response"
      },
      "Foreach": {
        "actions": {
          "Increment_variable_2": {
            "inputs": {
              "name": "var1",
              "value": 1
            },
            "runAfter": {},
            "type": "IncrementVariable"
          },
          "Increment_variable_3": {
            "inputs": {
              "name": "var1",
              "value": 1
            },
            "runAfter": {
              "Increment_variable_2": ["SUCCEEDED"]
            },
            "type": "IncrementVariable"
          },
          "Foreach_nested": {
            "actions": {
              "Increment_variable_4": {
                "inputs": {
                  "name": "var1",
                  "value": 1
                },
                "runAfter": {},
                "type": "IncrementVariable"
              },
              "Increment_variable_5": {
                "inputs": {
                  "name": "var1",
                  "value": 1
                },
                "runAfter": {
                  "Increment_variable_4": ["SUCCEEDED"]
                },
                "type": "IncrementVariable"
              }
            },
            "foreach": "@item()",
            "runAfter": {
              "Increment_variable_3": ["SUCCEEDED"]
            },
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 2
              }
            },
            "type": "Foreach"
          }
        },
        "foreach": "@triggerBody()",
        "runAfter": {
          "Initialize_variable": ["SUCCEEDED"]
        },
        "runtimeConfiguration": {
          "concurrency": {
            "repetitions": 20
          }
        },
        "trackedProperties": {
          "fsdfs": "sdfsdf"
        },
        "type": "Foreach"
      },
      "Foreach_empty": {
        "actions": {},
        "runAfter": {
          "Foreach": ["SUCCEEDED"]
        },
        "foreach": "@triggerBody()",
        "type": "Foreach"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {},
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateless"
}
